# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
Assets/Readme.asset
Assets/Readme.asset.meta

# IDE
.vscode/
.idea/
.vs/
.vsconfig

# Visual Studio / Rider
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.slnx
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crash / logs
sysinfo.txt
mono_crash.*

# Test / cache
*.log
